.inputBorder {
  border: 1px solid black;
}
/* From Uiverse.io by MuhammadHasann */ 
.card {
  --bg-card: rgb(255,217,168);
  /* --primary: #fff; */
  --primary-800: #fff;
  --primary-shadow: #fff;
  --light: black;
  --zinc-800: #fff;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: 0.75rem;
  padding: 1rem;
  width: 90%;
  height: 90vh;
  background-color: var(--bg-card);

  border-radius: 1rem;
}
.label {
  color:grey;
  font-size:10px;
}
.nameBrand {
  color:grey;
}
.Email {
  color:grey;
  margin-right:4%;
}


.image_container {
  overflow: hidden;
  cursor: pointer;

  position: relative;
  z-index: 5;

  width: 100%;
  height: 90vh;
  background-color: var(--primary-800);

  border-radius: 0.5rem;
}

.image_container .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 3rem;
  fill: var(--light);
}

.title {
  overflow: clip;

  width: 100%;

  font-size: 1rem;
  font-weight: 600;
  color: var(--light);
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.size {
  font-size: 0.75rem;
  color: var(--light);
}

.list-size {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  margin-top: 0.25rem;
}

.list-size .item-list {
  list-style: none;
}

.list-size .item-list-button {
  cursor: pointer;

  padding: 0.5rem;
  background-color: var(--zinc-800);

  font-size: 0.75rem;
  color: var(--light);

  border: 2px solid var(--zinc-800);
  border-radius: 0.25rem;

  transition: all 0.3s ease-in-out;
}

.item-list-button:hover {
  border: 2px solid var(--light);
}
.item-list-button:focus {
  background-color: var(--primary);

  border: 2px solid var(--primary-shadow);

  box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.action {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--light);
}

.cart-button {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  padding: 0.5rem;
  width: 100%;
  background-image: var(--bg-linear);

  font-size: 0.75rem;
  font-weight: 500;
  color: var(--light);
  text-wrap: nowrap;

  border: 2px solid hsla(262, 83%, 58%, 0.5);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.25rem 1px var(--light);
}
/* From Uiverse.io by JohnnyCSilva */ 
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
#btnCheckOut{
  position: fixed;
  top: 80%;
  left: 88%;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}
.minusParent {
  width:30%;
  display: flex;
}
.lastDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: ; */
}

.cartMain {
  display: flex;
  flex-direction: column;
}
.typeFont {
  width: 100%;
  display: flex;
}
#btn{
  width: 20%;
  font-size: 1.6rem !important;
}
.number {
  width: 93%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* margin-bottom: %; */
  /* justify-content: center; */
}

.plus {
  width: 10% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem !important;
  border-radius: 10px;
  color: white;
  background-color: #2d79f3;
}
.detailss {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
}
.itemsarr {
  display: flex;
  border: 2px solid black;
  margin-top: 4%;
  height: 15vh;
  justify-content: space-around;
  align-items: center;
}


/* .parentFinal {
  justify-content: ;
} */

#MainDivAll > div {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
}
#MainDivAll {
  display: flex;
  flex-wrap: wrap !important;
  width: 100%;
}
.topDetailsCart {
  display: flex;
  width: 100%;
  justify-content: space-around;

}
.topDetailsCart >span {
  border: 1px solid black;
  width: 25%;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}
.form {
  justify-content:center;
  align-items:center;
}

.button-submit {
  margin: 20px 20% 10px 0;
  background-color:blue;
  /* background-color: #151717; */
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 60%;
  cursor: pointer;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
  ;
}

    

.cart-button .cart-icon {
  width: 1rem;
}


.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 1;
  box-shadow: 0px 0px 100px rgb(187, 167, 167);
  background-color: white;
}

.links {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.href {
  font-size: 2rem;
  text-decoration: none;
  background-color: antiquewhite;
  width: 20%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  padding: 2%;
  height: 2vh;
  color: black;

}

* {
  box-sizing: border-box;
}

.Btn {
  width: 75%;
  display: flex;
  justify-content: center;
}

.LinksPages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.form1 {
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

#login {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputField {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.inputField>div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 4%;

}

.inputField>div>input {
  height: 4vh;
  padding: 2%;
  width: 100%;
  border-radius: 20px;
}

.loginpage {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inputuser {
  width: 100%;
  height: 2vh;
  border-radius: 6px;
  border: none;
  padding: 2%;
}


.form1 form div button {
  margin-top: 6%;
  height: 4vh;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(7, 124, 7);
  font-size: 12px;
  width: 80%;
  color: white;

}





.inputlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  background-color: white;
  border: 1px solid rgb(202, 201, 201);
  border-radius: 10px;
  height: 3vh;
  width: 80%;
}
.form {
  height :100vh important;
}

.divs {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media screen and (min-width:200px) and (max-width:800px) {
  .loginpage {
    flex-direction: column;
  }

  .image {
    display: none;
  }

  .mobileimg {
    display: flex;
    width: 20%;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 2%;
  }

  .form {
    width: 100%;
    align-items: center;
    border-radius: 20px;
  }

  .image1 {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logotop {
    width: 40%;
  }

  .logotop h3 {
    font-size: large;
  }

  .form1 {
    height: 28vh;
  }

  form {
    width: 90%;
  }

  .inputuser {
    width: 80%;
  }

  .inputlogo {
    width: 100%;
    border-radius: 20px;

  }

  input:focus {
    background-color: white;
    border: none;
    outline: none;
  }

  .form1 form div button {
    width: 100%;
  }

  .logos {
    margin: 0%;
  }

  .form {
    height: 100vh;
  }

}
#btnGoogle{
  width:100%;
}
.flex-row {
  width:30%;

}


@media screen and (min-width:687px) and (max-width:799px) {

  .inputuser {
    height: 1vh;
  }
}

#btnSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
}

* {
  box-sizing: border-box;
}

.dot-spinner {


  /* width: 20% !important; */
  /* height: 2vh !important; */
  /* align-items: center; */

}




/* loader { */
.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* height: 20vh;
  width: 20%; */
}

.dot-spinner__dot::before {
  content: '';
  /* height: %; */
  /* width: 10%; */
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.mainParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.divMainBig {
  display: flex;
  justify-content: center;
  align-items: center;
}

#divMain {
  margin-left: 40%;
}

#hover:hover {
  background-color: antiquewhite;

}

.divOptions {
  display: flex;
  width: 30%;
}

.divOptions:first-child {
  margin-left: 6%;
}

#SearchIcon {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 4%;

}

.Category {
  display:flex;
  justify-content:center;
  /* align-items:center; */
  flex-direction:column;
  width: 30%;
}
#mainDiveSec {
  display: flex;
  background-color: antiquewhite;
  flex-wrap: nowrap;
}

#newDiv {
  background-color: rgb(255, 217, 168);
  width: 60%;
  border-radius: 20px;
}

#mainParentDiv {
  width: 30%;
  margin-top: 3%;
}

#mainParentDiv:hover {
  background-color: rgb(255, 218, 172);
  border-radius: 20px;
  transition: 0.5s ease-out;
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {

  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

}

/* enden  */